:host {
  display: block;
}

.auth-bg {
  background-color: #0F172A;
  background-image: radial-gradient(#334155 1px, transparent 1px);
  background-size: 20px 20px;
}

.glow-decoration {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(99, 102, 241, 0.15), transparent 70%);
}
